backup
auto-save-list
eln-cache
elpa
emms
url
transient
recentf
*~
.emacs.desktop
news/
mastodon.plstore
ac-comphist.dat
.org-id-locations
newsticker
org-roam.db
rfc/
tramp
persist/
projects
.cache
.lsp-session-v1
#.*
.mc-lists.el